*{
    margin: 0;
    padding: 0;
}


header{
    background-color: coral;
    color: black;
    text-align: center;
}

button:active{
    background-color: orangered;
}

ul{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}

form{
    flex-direction: end;
}

section{
    background-color: rgb(220, 239, 6);
    border: 10px solid black;
    text-align: center;
}

@media screen and (min-device-widht:1200px) {}

@media screen and (min-device-widht:481px) and (max-device-widht:800px) {}

@media screen and (min-device-widht:320px) and (min-device-widht:480px) {}

footer{
    background-color: coral;
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
#img-footer{
    width: 25px;
    height: 25px;
}

img {
    width: 40%;
    height: 40%;
}